configuration {
    modi: ["drun", "power:~/.config/rofi/scripts/power.sh"];
    show-icons: true;

    icon-theme: "Tela";
    terminal: "Ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    sidebar-mode: false;
    display-drun: " ";
    display-power: " ";

    //adding vim keybindings
    kb-row-up: "Up,Control+k";
    kb-row-left: "Left,Control+h";
    kb-row-right: "Right,Control+l";
    kb-row-down: "Down,Control+j";

    kb-accept-entry: "Control+z,Control+y,Return,KP_Enter";
    kb-cancel: "Escape,Control+g,Control+bracketleft";

    //fixing up
    kb-remove-to-eol: "";
    kb-move-char-back: "Control+b";
    kb-remove-char-back: "BackSpace";
    kb-move-char-forward: "Control+f";
    kb-mode-complete: "Control+o";
}

@theme "theme.rasi"
