* {
    transparent-blue: rgba(122, 162, 247, 0.5);
    background-color: rgba(36, 40, 59, 0.5);
    border: 0px;
    blue: #7aa2f7;
    border-color: @blue;
    black: #000000;
}

window {
    width: 500;
    orientation: horizontal;
    location: center;
    anchor: center;
    transparency: "real";
    border: 0px;
    border-radius: 6px;
    spacing: 0;
    children: [ mainbox ];
}

mainbox {
    spacing: 0;
    children: [ inputbar, message, listview ];
}

inputbar {
    color: @blue;
    padding: 11px;
    border: 3px 3px 2px 3px;
    border-radius: 6px 6px 0px 0px;
}

message {
    padding: 0;
    border: 0px 1px 1px 1px;
}

entry, prompt, case-indicator {
    text-font: inherit;
    text-color: inherit;
    background-color: transparent;
}

prompt {
    margin: 0px 5px 0px 0px;
}

listview {
    layout: vertical;
    padding: 8px;
    lines: 7;
    columns: 1;
    border: 0px 3px 3px 3px;
    border-radius: 0px 0px 6px 6px;
    dynamic: false;
}

element {
    padding: 1px;
    vertical-align: 1;
    color: @blue;
    background-color: transparent;
}

element selected.normal {
    color: @black;
    background-color: @transparent-blue;
}

element-text {
    background-color: inherit;
    color: inherit;
    vertical-align: 0.5;
}

element-icon {
    background-color: inherit;
    // color: inherit;
    size: 1.5em;
}
